.containerCard {
  text-align: center;
  padding: 20px;
}

.imgMovie img {
  border-radius: 25px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .containerCard {
    padding: 10px;
  }

  .imgMovie img {
    border-radius: 15px;
  }
}
