.bannerContainer {
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px 20px 100px;
}

.headerCarrousel {
  display: flex;
  align-items: center;

  gap: 7px;
}

.info {
  width: 50%;
}

.info h1 {
  font-family: "DM Sans", sans-serif;
  color: white;
  font-size: 48px;
}
.movieRating {
  color: white;
  width: 320px;
  height: 72;
  font-size: 14px;
}

.movieDescription {
  width: 400px;
  height: 72px;
  color: white;
  font-size: 16px;
  padding: 10px;
}
.containerTrailer {
  background-color: #be123c;
  width: 200px;
  height: 40px;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.trailer {
  width: 109px;
  height: 24px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationDot {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.362);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid white;
}

.active {
  background-color: white;
}
